@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import "normalize";

// Variables
$black: #333333 !default;
$linkColor: #3A56E4 !default;
$textMatchColor: #3A56E4 !default;
$facetLinkColor: #4f4f4f !default;
$facetCountColor: #888888 !default;
$metaTextColor: #4A4B4B !default;

// Layout Colors
$appContainerBackgroundColor: #ffffff !default;
$resultsLeftBorderColor: #eeeeee !default;

// Header Colors
$headerBackgroundColor: #f9f9f9 !default;
$headerBorderColor: #eeeeee !default;

// Result Colors
$resultBackgroundColor: #fcfcfc !default;
$resultBorderColor: #eeeeee !default;
$fieldHoverColor: #f6f6f6 !default;
$resultKeyTextColor: #666666 !default;

// Font Variables
$fontWeightNormal: 400 !default;
$fontWeightBold: 700 !default;

// Sizes
$sizeXSX: 2px !default;
$sizeXS: 4px !default;
$sizeS: 8px !default;
$sizeM: 12px !default;
$sizeL: 24px !default;
$sizeXL: 32px !default;
$sizeXXL: 48px !default;


$offset: 175px !default;


// Base
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $linkColor;
}

a.subtle-link {
  color: inherit;
  font-style: italic;
  border-bottom: 1px dotted #ccc;

  &:hover {
    color: $linkColor;
  }
}

// Components
.button {
  text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset, rgba(59, 69, 79, 0.05) 0px 1px 0px;
  background: linear-gradient(rgb(45, 160, 250), rgb(49, 88, 238)) rgb(47, 124, 244);
  cursor: pointer;
  border-radius: 4px;
  border-width: 0px;
}

.app-container {
  background: $appContainerBackgroundColor;
  font-family: "Roboto", sans-serif;
}

.reference-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reference-ui-header {
  padding: $sizeXXL $sizeL;
  background-color: $headerBackgroundColor;
  border-bottom: 1px solid $headerBorderColor;

  &__title {
    font-weight: $fontWeightNormal;
    text-align: center;
  }

  &__search {

  }
}

.reference-ui-body {

}

.searchbox {
  display: flex;
  border-radius: 6px;
  border: 1px solid #dce2e9;
  background: white;
  overflow: hidden;
  justify-content: center;
  height: 80px;
  align-items: stretch;
  padding: 0.5rem;

  &__text-input {
    width: 100%;
    border: none;
    padding: 0 1em;
    outline: none;

    &::placeholder {
      color: #aaaaaa;
    }
  }

  &__submit {
    padding: 0 2em;
    margin-left: 10px;

    .live-filtering & {
      display: none;
    }
  }

  &.focus {
    border: 1px solid $linkColor;
  }
}

.sorting {
  padding-top: $sizeXL;
  > select {
    width: calc(100% - #{$sizeXL});
  }
}

.search-results {
  display: flex;
  padding: 0 $sizeL;
}

.facets {
  padding: $sizeXXL $sizeXL $sizeXXL 0;
  min-width: 25vw;

  &__control {
    & + & {
      margin-top: 30px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    color: #8B9BAD;
    letter-spacing: 1px;
  }

  &__list {
    line-height: 1.5;
    font-size: 13px;
    margin: $sizeS 0;
  }
}

.facet {
  display: flex;
  justify-content: space-between;

  &__link {
    color: $facetLinkColor;
    position: relative;

    &:after {
      content: '';
      opacity: 0.0;
      position: absolute;
      top: -1px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 2px);
      background: rgba(37, 139, 248, 0.08);
      pointer-events: none;
    }

    &--active {
      color: $linkColor;
    }

    &:hover {
      color: $linkColor;
      font-weight: $fontWeightBold;
      &:after {
        opacity: 1.0;
      }
    }
  }

  &__count {
    color: $facetCountColor;
    font-size: 0.85em;
    margin-left: 20px;
    display: inline-block;
    padding-top: 2px;
  }

  &__selected {
    font-weight: 900;

    a {
      font-weight: 100;
      padding: 0 2px;
    }
  }

  &__remove {
    color: #666;
    margin-left: 10px;
  }
}


.results {
  width: 100%;
  padding: 2rem 0;


  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .active-search & {
    padding: $sizeXL 0 0 $sizeXL;
    border-left: 1px solid $resultsLeftBorderColor;
  }
}

.meta {
  font-size: 12px;
  color: $metaTextColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}


.result {
  border-top: 1px solid $resultBorderColor;
  padding: $sizeL 0;

  & + & {
    margin-top: 20px;
  }

  em {
    position: relative;
    color: $textMatchColor;
    font-weight: 900;
    font-style: inherit;

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      background: rgba(37, 139, 248, 0.08);
      pointer-events: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.8em;
    font-weight: $fontWeightBold;
  }
  &__key {
    font-family: monospace;
    font-weight: $fontWeightNormal;
    font-size: 14px;
    flex: 0 1 40%;
    color: $resultKeyTextColor;
  }
  &__value {
    font-weight: $fontWeightNormal;
    font-size: 14px;
  }
  &__version {
    font-size: 12px;
    display: inline;
    vertical-align: bottom;
  }
  &__lisence {
    font-size: 12px;
    color: #999999;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1;
    padding: 4px 4px 3px 4px;
  }

  &__body {
    margin-top: 1rem;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }

  &__details {

    > li {
      display: flex;

      &:hover {
        background-color: $fieldHoverColor;
      }

      // span {
      //   &:after {
      //     content: ", ";
      //   }
      //   &:last-of-type {
      //     &:after {
      //       content: "";
      //     }
      //   }
      // }
    }
  }

  &__footer {
    padding: 0 2rem;
    margin-top: 1rem;
    line-height: 1;
  }
}


.rc-pagination {
  display: flex;
  justify-content: center;
  a {
    color: $linkColor;
  }
  > li {
    border: none;
    background: transparent;
  }
}
.rc-pagination-disabled {
  a {
    color: #ccc;
  }
}
.rc-pagination-item-active {
  a {
    color: $facetLinkColor;
    font-weight: 900;
  }
  &:hover {
    a {
      color: $facetLinkColor;
      cursor: not-allowed;
    }
    cursor: not-allowed;
  }
}
.rc-pagination-jump-next:hover:after {
  content: "\BB";
  font-size: 16px;
  line-height: 1.5;
}
.rc-pagination-jump-prev:hover:after {
  content: "\AB";
  font-size: 16px;
  line-height: 1.5;
}
