{
  "engineName": "your-engine-name",
  "hostIdentifier": "host-XXXXX",
  "searchKey": "search-XXXXXXXXXXXXXXXXXXXXXXX",
  "fields": [
    "license",
    "name",
    "repository",
    "created"
  ]
}
