{
  "engineName": "your-engine-name",
  "hostIdentifier": "host-XXXXX",
  "searchKey": "search-XXXXXXXXXXXXXXXXXXXXXXX",
  "fields": [
    "title",
    "anotherField",
    "someField",
    "created"
  ],
  "titleField": "title"
}
